.form{
margin: 27% -25% 14% 16%;
width: 70%;
border-style: groove;
padding: 15px;
background: #ffe6e08c;
margin: 20% 0% -51% 17%;
border-bottom-style: groove;
margin-top: 80px;
margin-bottom: 42px;
position: relative;
}